/*Css file for Chat room:*/
/*Root variables*/
:root {
  --chatRoomGlobalColor: #fa4747;
  --chatRoomSpecialColor: #f25353;
}
/*Chat room parent styles*/
#chatRoom {
  background-color: var(--chatRoomGlobalColor);
  padding-top: 1.4rem;
  padding-bottom: 23vh;
}
/*Send bar styles*/
#sendBar {
  display: flex;
  position: absolute;
  bottom: 0;
}
