/* CSS file for execute button component */

/* Root variables */
:root {
  --globalColor: #d88e1f;
}
/* Default button styles */
#button {
  background-color: var(--globalColor);
  border: none;
  height: 6vw;
  width: 17vw;
  border-radius: 99vw 99vw 99vw 99vw;
  margin-top: 2vw;
  color: white;
  transition-duration: 0.5s;
  font-size: 0.7rem;
  cursor: pointer;
}
/* Hover styles */
#button:hover {
  border: 3px solid white;
  background-color: transparent;
  color: white;
  transition-duration: 0.5s;
}
/* Media query for screens <500px */
@media (max-width: 500px) {
  /* Default button styles */
  #button {
    background-color: var(--globalColor);
    border: none;
    height: 9vw;
    width: 21vw;
    border-radius: 99vw 99vw 99vw 99vw;
    margin-top: 3vw;
    color: white;
    transition-duration: 0.5s;
    font-size: 0.4rem;
    cursor: pointer;
  }
  /* Hover styles */
  #button:hover {
    border: 3px solid white;
    background-color: transparent;
    color: white;
    transition-duration: 0.5s;
  }
}
/* Media query for screens <450px */
@media (max-width: 450px) {
  /* Default button styles */
  #button {
    background-color: var(--globalColor);
    border: none;
    height: 10vw;
    width: 23vw;
    border-radius: 99vw 99vw 99vw 99vw;
    margin-top: 2vw;
    color: white;
    transition-duration: 0.5s;
    font-size: 0.25rem;
    cursor: pointer;
  }
  /* Hover styles */
  #button:hover {
    border: 3px solid white;
    background-color: transparent;
    color: white;
    transition-duration: 0.5s;
  }
}
/* Media query for screens >750px */
@media (min-width: 750px) {
  /* Default button styles */
  #button {
    background-color: var(--globalColor);
    border: none;
    height: 5vw;
    width: 13vw;
    border-radius: 99vw 99vw 99vw 99vw;
    margin-top: 2vw;
    color: white;
    transition-duration: 0.5s;
    font-size: 0.9rem;
    cursor: pointer;
  }
  /* Hover styles */
  #button:hover {
    border: 3px solid white;
    background-color: transparent;
    color: white;
    transition-duration: 0.5s;
  }
}
/* Media query for screens >1000px */
@media (min-width: 1200px) {
  /* Default button styles */
  #button {
    background-color: var(--globalColor);
    border: none;
    height: 3.5vw;
    width: 10vw;
    border-radius: 99vw 99vw 99vw 99vw;
    margin-top: 2vw;
    color: white;
    transition-duration: 0.5s;
    font-size: 1rem;
    cursor: pointer;
  }
  /* Button hover styles */
  #button:hover {
    border: 3px solid white;
    background-color: transparent;
    color: white;
    transition-duration: 0.5s;
  }
}
