/* CSS file for input field: */

/* Input field styles */
#inputField {
  border-radius: 0.7vw;
  border: 5.7px solid #ffff;
  width: 80vw;
  height: clamp(2rem, 2rem, 2rem);
  cursor: pointer;
  padding: 0rem 1rem 0rem 1rem;
  margin: 0rem 1rem 0rem 1rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--chatRoomGlobalColor);
  color: #fff;
  outline: none;
}

/* Input field placeholder styles */
#inputField::-webkit-input-placeholder {
  color: #c8bcbc;
  padding-left: 0rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
}

/* Media query for screens >700px */
@media (max-width: 700px) {
  /* Input field styles */
  #inputField {
    border-radius: 1.9vw;
    margin: 0rem 1rem 1rem 1rem;
    border: 5px solid #ffff;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 70vw;
    height: clamp(1.5rem, 1.5rem, 1.5rem);
    padding: 0.2rem 1rem 0.2rem 1rem;
    background-color: var(--chatRoomGlobalColor);
    color: #fff;
    outline: none;
  }

  /* Input field placeholder styles */
  #inputField::-webkit-input-placeholder {
    color: #c8bcbc;
    padding-left: 0rem;
    font-size: 0.7rem;
    font-family: "Poppins", sans-serif;
  }
}
