/* CSS file for login page: */

/* Login page wrapper styles */
#loginParent {
  background-color: #fa4747;
  padding-top: 17vh;
  overflow: hidden;
  background-size: fill;
  padding-bottom: 35vh;
  display: block;
  text-align: center;
}
/* Error message styles */
#errorMessage {
  color: white;
  font-size: 1rem;
  padding-top: 0.5rem;
  font-family: "poppins", sans-serif;
}
/* Form wrapper styles */
#form {
  padding: 1rem;
}
/* Sign up link styles */
#signup {
  text-align: center;
}
#signupLink {
  color: white;
  font-family: "poppins", "sans-serif";
}
/* Media query for screens <600px */
@media (max-width: 600px) {
  /* Login page wrapper styles */
  #loginParent {
    background-color: #fa4747;
    display: block;
    padding-top: 20vh;
    padding-bottom: 52vh;
    overflow-y: hidden;
    display: block;
    background-size: fill;
  }
  /* Error message styles */
  #errorMessage {
    color: white;
    font-size: 0.2rem;
    font-family: "poppins", sans-serif;
    text-align: center;
  }
  /* Sign up link styles */
  #signup {
    text-align: center;
  }
  #signupLink {
    color: #fff;
    font-size: 0.7rem;
    color: white;
    font-family: "poppins", "sans-serif";
    font-size: 0.5rem;
    margin: 2rem 0rem 0rem 0rem;
    padding: 0.5rem;
  }
}
