/*CSS file:*/
#loginParent {
  background-color: #fa4747;
  padding-top: 6rem;
  overflow: hidden;
  text-align: center;
}
#signupLink {
  color: white;
  font-family: "poppins", "sans-serif";
  margin: 1rem;
  padding: 1rem;
}

#signup {
  margin: 1rem;
  padding: 1rem;
}
@media (max-width: 600px) {
  #loginParent {
    background-color: #fa4747;
    padding-top: 10rem;
    overflow: hidden;
    text-align: center;
  }
  #signupLink {
    color: white;
    font-family: "poppins", "sans-serif";
    font-size: 0.7rem;
    margin: 0.5rem;
    padding: 0.5rem;
  }

  #signup {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}
