/* CSS file for logo: */
/* Logo wrapper styles */
#logoWrapper {
  background-color: #fa4747;
  display: flex;
  padding: 1rem;
}
/* Logo image styles */
#logoImage {
  color: #ffff;
  object-fit: contain;
  height: 3.5rem;
  padding-top: 1rem;
}
/* Logo text styles */
#logoText {
  color: white;
  font-weight: bold;
  padding-right: 1rem;
  font-family: "poppins", sans-serif;
}
