/*CSS file for logout button:*/
/*Logout button styles*/
#logout {
  color: #ffff;
  cursor: pointer;
  font-size: 2.7rem;
}
/*Media queries for screens >700px*/
@media (max-width: 700px) {
  /*Logout button styles*/
  #logout {
    color: #ffff;
    font-size: 2rem;
    cursor: pointer;
  }
}
