/* CSS file for logo: */

/* Logo wrapper styles */
#logo-wrapper {
  background-color: #fa4747;
  display: flex;
  padding: 1rem;
}

/* Logo image styles */
#logo-image {
  color: #ffff;
  object-fit: contain;
  height: 3.5rem;
  padding-top: 1rem;
}

/* Logo text styles */
#logo-text {
  color: white;
  font-weight: bold;
  padding-right: 1rem;
  font-family: "poppins", sans-serif;
}
