/* CSS File for menu component: */

/* View button styles */
#viewButton {
  color: #ffff;
  cursor: pointer;
  font-size: 2.7rem;
}

/* Media query for screens >700px */
@media (max-width: 700px) {
  /* View button styles */
  #viewButton {
    color: #ffff;
    font-size: 2rem;
    cursor: pointer;
  }
}

/* Menu styles */
#menu {
  display: flex;
  justify-content: space-between;
  background-color: var(--chatRoomSpecialColor);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Menu text styles */
#menuText {
  color: #ffff;
  font-size: 1rem;
  font-family: "poppins", sans-serif;
}

/* Media query for screens <700px */
@media (min-width: 700px) {
  /*Menu text styles*/
  #menuText {
    color: #ffff;
    font-size: 1.5rem;
    font-family: "poppins", sans-serif;
  }
}
