/* CSS File for message component: */

/* Hero wrapper styles */
#heroWrapper {
  background-color: #ffff;
  border-radius: 1rem;
  padding: 1.1rem;
  margin: 0.9rem;
  height: auto;
}

/* User wrapper styles */
#userWrapper {
  display: flex;
}

/* User checkmark styles */
#checkMark {
  margin-left: 0.6rem;
}
