.userDisplayName {
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  padding: 1rem;
}
#userList {
  vertical-align: middle;
  background-color: #f25353;
  padding-bottom: 70vh;
  padding-left: 35%;
}
#user {
  display: flex;
  padding: 0.5rem;
}
#tittle {
  color: #fff;
  margin-left: 1rem;
}
#hideButton {
  color: #ffff;
  cursor: pointer;
  font-size: 2.7rem;
  position: relative;
  top: 0;
  left: 0;
}
@media (max-width: 700px) {
  #hideButton {
    color: #ffff;
    margin-left: 1rem;
    font-size: 2rem;
    cursor: pointer;
  }
}
