/* CSS file for Chat room: */

/* Root variables */
:root {
  --chat-room-global-color: #fa4747;
  --chat-room-special-color: #f25353;
}

/* Chat room parent styles */
#chat-room {
  background-color: var(--chat-room-global-color);
  padding-bottom: 12vh;
}

/* Send bar styles */
#send-bar {
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: var(--chat-room-global-color);
}
