/* CSS File for send button: */

/* Send button styles */
#sendButton {
  color: #ffff;
  cursor: pointer;
  font-size: 2.7rem;
}

/* Media query for screens >700px */
@media (max-width: 700px) {
  /* Send button styles */
  #sendButton {
    color: #ffff;
    font-size: 2rem;
    cursor: pointer;
  }
}
